@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding{
 @apply pl-[15px] pr-[15px] md:pl-[50px] md:pr-[50px]
}

.inhidden {
  display: block !important;
}

.button {
  @apply btn btn-ghost btn-md  text-black bg-slate-200 btn-sm rounded-btn hover:bg-slate-400;
}

.text-5xl {
  @apply text-2xl font-semibold md:text-4xl
}

body {
  overflow-x: hidden;
 min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
